__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.ipynb_checkpoints/

data/raw/*
data/processed/*
data/augmented/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/augmented/.gitkeep

models/checkpoints/*.pt
models/checkpoints/*.npz
models/checkpoints/*.png
models/checkpoints/*.json

.DS_Store
